.root {
  height: 100vh;
  width: 100vw; 
  overflow: auto;
}

.nav {
	font-family: Avenir, Helvetica, Arial, sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-align: center;
	color: #2c3e50;
	padding: 30px;
}

.nav a {
	font-weight: bold;
	color: #20baf7;
  margin: 0 24px;
}
